.page.about-page
  .tab-headers
    .tab-header{ng: {repeat: 'tab in tabs', class: '{active: tab == selectedTab}'}}
      %a{href: 'javascript:void(0)', ng: {click: 'selectContent($index)'}} {{ tab.label }}
  .row
    .column.small-12.large-5.small-centered.tab-content{slick: {carousel: ''}}
      .tab
        = partial '/partials/about_this_app'
      .tab
        = partial '/partials/about_gooniyandi'
      .tab
        = partial '/partials/contact_us'
      .tab
        = partial '/partials/partners'
      .tab
        = partial '/partials/acknowledgements'